body {
    text-align: center;
    position: relative;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: tomato;
    padding: 20px 0;
    color: #fff;
}

main {
    margin: 0 auto;
    display: table;
}

h2 {
    font-size: 50px;
}

img {
    box-shadow: 2px 2px 20px 2px;
    border-radius: 5px;
    margin-top: 30px; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: tomato;
    padding: 20px 0;
}

footer small {
    color: #fff;
}